/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/tests/coverage/*
.env
.env.backup
.env.production
.env.testing.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
schema.sql
/.fleet
/.idea
/.vscode
supervisord.log
supervisord.pid
packages.txt