includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    paths:
        - app/
    level: 8
    ignoreErrors:
        - '#Class App\\Models\\User uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
        - '#Class App\\Models\\DeleteReason uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
        - '#Method App\\Models\\DeleteReason::deletedByUser\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types: TRelatedModel, TDeclaringModel#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - ./app/Providers/AppServiceProvider.php
        - ./app/Http/Middleware/*
        - ./app/Http/Resources/BaseResource.php
